body {
    font-family: Arial, sans-serif;
    background-color: #d13a3a78;
    margin: 0;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480vh;
}


.container {
    max-width: 800px;
    background: white;
    padding: 40px;
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.profile-pic {
    width: 180px; 
    height: 170px; 
    margin-bottom: 20px;
    border-radius: 50%; 
}

.certification3-pic {
    width: 650px; 
    height: 350px; 
 
}



h1 {
    color: #333;
    margin-bottom: 10px; 
}

h2 {
    color: #666;
    margin-bottom: 15px; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
}

button:hover {
    background-color: #218838;
}


@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.5em; 
    }

    button {
        padding: 8px 16px; 
}
}